<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
        <!-- 
        The selector that PrependCssSelectorProcessor will prepend to all CSS rules in the bundle
      -->
        <setting name="Bundle.PrependCssSelectorProcessor.Selector" value=".fxm" />

      </settings>

      <pipelines>
        <bundle.fxmstyles>
          <processor type="Sitecore.FXM.Pipelines.Bundle.BundleFileProcessor, Sitecore.FXM">
            <path>styles/vendor.min.css</path>
            <path>styles/niteflight.min.css</path>
          </processor>
          <processor type="Sitecore.Feature.Fxm.Bundle.PrependCssSelectorProcessor, Sitecore.Feature.Fxm" />
          <processor type="Sitecore.FXM.Pipelines.Bundle.BundleRegisterProcessor, Sitecore.FXM" />
        </bundle.fxmstyles>
        <bundle.styles>
          <processor type="Sitecore.FXM.Pipelines.Bundle.BundleFileProcessor, Sitecore.FXM">
            <path>styles/vendor.min.css</path>
            <path>styles/niteflight.min.css</path>
          </processor>
          <processor type="Sitecore.FXM.Pipelines.Bundle.BundleRegisterProcessor, Sitecore.FXM" />
        </bundle.styles>
      </pipelines>
    </sitecore>
  </configuration>
